.git
.git/
.gitignore
Dockerfile
Dockerfile.armhf
.dockerignore
docker/
.coveragerc
.eggs
.venv
.venv/
.github
.pylintrc
.travis.yml
CONTRIBUTING.md
MANIFEST.in
README.md
freqtrade.service
freqtrade.egg-info

config.json*
*.sqlite
user_data
*.log

.vscode
.mypy_cache
.ipynb_checkpoints
tradesv3.dryrun.sqlite
tradesv3.dryrun.sqlite-shm
tradesv3.dryrun.sqlite-wal